<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "dtd\web-app_2_3.dtd">
<web-app>	
	<display-name>BAMS</display-name>

	<!--
	<error-page> 
		<error-code>404</error-code> 
			<location>/common/error404.jsp</location>
	</error-page>
	<error-page> 
		<exception-type> 
			javax.servlet.ServletException 
		</exception-type>
		<location>/common/error.jsp</location>
	</error-page> -->
	
	 
	  
	 <filter>
		<filter-name>visitcontrol</filter-name>
		<filter-class>bams.util.AuthFilter</filter-class>
		
		</filter>
	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>bams.util.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF8</param-value>
		</init-param>
	</filter>
	  <filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
		<filter-name>visitcontrol</filter-name>
		<url-pattern>/servlet/*</url-pattern>
	  </filter-mapping>
	 
	 
	  
	  
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>bams.servlet.user.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>bams.servlet.user.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>bams.servlet.user.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>bams.servlet.user.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>bams.servlet.user.SearchServlet</servlet-class>
    </servlet>
  
  <servlet>
    <servlet-name>ListPictureByUserServlet</servlet-name>
    <servlet-class>bams.servlet.user.ListPictureByUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddAllPropertyServlet</servlet-name>
    <servlet-class>bams.servlet.policy.AddAllPropertyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddEmployerDutyServlet</servlet-name>
    <servlet-class>bams.servlet.policy.AddEmployerDutyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddFreightServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>bams.servlet.policy.AddFreightServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddVehicleServlet</servlet-name>
    <servlet-class>bams.servlet.policy.AddVehicleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddFamilyServlet</servlet-name>
    <servlet-class>bams.servlet.policy.AddFamilyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddOfficeServlet</servlet-name>
    <servlet-class>bams.servlet.policy.AddOfficeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddEnterprisePackageServlet</servlet-name>
    <servlet-class>bams.servlet.policy.AddEnterprisePackageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetUserServlet</servlet-name>
    <servlet-class>bams.servlet.user.GetUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListAllUserServlet</servlet-name>
    <servlet-class>bams.servlet.user.ListAllUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUserGoalServlet</servlet-name>
    <servlet-class>bams.servlet.user.UpdateUserGoalServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteManyUserServlet</servlet-name>
    <servlet-class>bams.servlet.user.DeleteManyUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadPictureServlet</servlet-name>
    <servlet-class>bams.servlet.user.UploadPictureServlet</servlet-class>
	<init-param>
		<param-name>filepath</param-name> 
		<param-value>file/user/upload_image</param-value>
	</init-param> 
	<init-param> 
		<param-name>temppath</param-name> 
		<param-value>temp</param-value> 
	</init-param>
  </servlet>
  <servlet>
    <servlet-name>UploadFileServlet</servlet-name>
    <servlet-class>bams.servlet.user.UploadFileServlet</servlet-class>
    <init-param>
            <param-name>filepath</param-name> 
            <param-value>file/manager/files</param-value>
        </init-param> 
        <init-param> 
            <param-name>temppath</param-name> 
            <param-value>temp</param-value> 
        </init-param>
  </servlet>
  <servlet>
    <servlet-name>FileDownLoadServlet</servlet-name>
    <servlet-class>bams.servlet.user.FileDownLoadServlet</servlet-class>
        <init-param>
     <param-name>filepath</param-name> 
            <param-value>file/manager/files</param-value>
        </init-param> 
        <init-param> 
            <param-name>temppath</param-name> 
            <param-value>temp</param-value> 
        </init-param>
        <init-param>
            <param-name>contentType</param-name>
            <param-value>application/x-msdownload</param-value>
        </init-param>
        <init-param>
            <param-name>enc</param-name>
            <param-value>utf-8</param-value>
        </init-param>
  </servlet>
  <servlet>
    <servlet-name>ListAllFileServlet</servlet-name>
    <servlet-class>bams.servlet.user.ListAllFileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteFileServlet</servlet-name>
    <servlet-class>bams.servlet.user.DeleteFileServlet</servlet-class>
    <init-param>
     <param-name>filepath</param-name> 
            <param-value>file/manager/files</param-value>
        </init-param> 
        <init-param> 
            <param-name>temppath</param-name> 
            <param-value>temp</param-value> 
        </init-param>
  </servlet>
  <servlet>
    <servlet-name>AddPolicyIndexServlet</servlet-name>
    <servlet-class>bams.servlet.policy.AddPolicyIndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchPolicyServlet</servlet-name>
    <servlet-class>bams.servlet.policy.SearchPolicyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownPolicyAsMSWord</servlet-name>
    <servlet-class>bams.servlet.policy.DownPolicyAsMSWord</servlet-class>
    <init-param>
     <param-name>filepath</param-name>
            <param-value>file/user/template</param-value>
        </init-param> 
        <init-param> 
            <param-name>temppath</param-name> 
            <param-value>temp</param-value> 
        </init-param>
  </servlet>
  <servlet>
    <servlet-name>DownPoliciesAsZip</servlet-name>
    <servlet-class>bams.servlet.policy.DownPoliciesAsZip</servlet-class>
    <init-param>
     <param-name>filepath</param-name>
            <param-value>file/user/template</param-value>
        </init-param> 
        <init-param> 
            <param-name>temppath</param-name> 
            <param-value>temp</param-value> 
        </init-param>
  </servlet>
  <servlet>
    <servlet-name>ListAllPolicyIndexServlet</servlet-name>
    <servlet-class>bams.servlet.policy.ListAllPolicyIndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListAllFeilvServlet</servlet-name>
    <servlet-class>bams.servlet.feilv.ListAllFeilvServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AlterFeilvServlet</servlet-name>
    <servlet-class>bams.servlet.feilv.AlterFeilvServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AllPropertyFeilvServlet</servlet-name>
    <servlet-class>bams.servlet.feilv.AllPropertyFeilvServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FreightFeilvServlet</servlet-name>
    <servlet-class>bams.servlet.feilv.FreightFeilvServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EmployerDutyFeilvServlet</servlet-name>
    <servlet-class>bams.servlet.feilv.EmployerDutyFeilvServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FamilyFeilvServlet</servlet-name>
    <servlet-class>bams.servlet.feilv.FamilyFeilvServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManageLiPeiServlet</servlet-name>
    <servlet-class>bams.servlet.picture.ManageLiPeiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchLiPeiServlet</servlet-name>
    <servlet-class>bams.servlet.picture.SearchLiPeiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MarkLiPeiServlet</servlet-name>
    <servlet-class>bams.servlet.picture.MarkLiPeiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UnmarkLiPeiServlet</servlet-name>
    <servlet-class>bams.servlet.picture.UnmarkLiPeiServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <servlet-class>bams.servlet.user.CheckUsernameServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddGoodsServlet</servlet-name>
    <servlet-class>bams.servlet.goal.AddGoodsServlet</servlet-class>
	<init-param>
		<param-name>filepath</param-name> 
		<param-value>file/manager/image</param-value>
	</init-param> 
	<init-param> 
		<param-name>temppath</param-name> 
		<param-value>temp</param-value> 
	</init-param>
  </servlet>
  <servlet>
    <servlet-name>ListGoodsServlet</servlet-name>
    <servlet-class>bams.servlet.goal.ListGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetGoodsServlet</servlet-name>
    <servlet-class>bams.servlet.goal.GetGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteGoodsServlet</servlet-name>
    <servlet-class>bams.servlet.goal.DeleteGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddOrderServlet</servlet-name>
    <servlet-class>bams.servlet.goal.AddOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListOrderServlet</servlet-name>
    <servlet-class>bams.servlet.goal.ListOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MarkOrderServlet</servlet-name>
    <servlet-class>bams.servlet.goal.MarkOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UnmarkOrderServlet</servlet-name>
    <servlet-class>bams.servlet.goal.UnmarkOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetOrderServlet</servlet-name>
    <servlet-class>bams.servlet.goal.GetOrderServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateGoodsServlet</servlet-name>
    <servlet-class>bams.servlet.goal.UpdateGoodsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchFileServlet</servlet-name>
    <servlet-class>bams.servlet.user.SearchFileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListPolicyIndexByUser</servlet-name>
    <servlet-class>bams.servlet.user.ListPolicyIndexByUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddQuestionServlet</servlet-name>
    <servlet-class>bams.servlet.wiki.AddQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetQuestionServlet</servlet-name>
    <servlet-class>bams.servlet.wiki.GetQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListQuestionByUserServlet</servlet-name>
    <servlet-class>bams.servlet.wiki.ListQuestionByUserServlet</servlet-class>
  </servlet>
 
  <servlet>
    <servlet-name>ListAllQuestionServlet</servlet-name>
    <servlet-class>bams.servlet.wiki.ListAllQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddAnswerServlet</servlet-name>
    <servlet-class>bams.servlet.wiki.AddAnswerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetAnswerServlet</servlet-name>
    <servlet-class>bams.servlet.wiki.GetAnswerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MarkQuestionServlet</servlet-name>
    <servlet-class>bams.servlet.wiki.MarkQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddCaseDealServlet</servlet-name>
    <servlet-class>bams.servlet.deal.AddCaseDealServlet</servlet-class>
    
    <init-param>
		<param-name>filepath</param-name> 
		<param-value>file/user/upload_image</param-value>
	</init-param> 
	<init-param> 
		<param-name>temppath</param-name> 
		<param-value>temp</param-value> 
	</init-param>
  </servlet>
  <servlet>
    <servlet-name>GetCaseDealServlet</servlet-name>
    <servlet-class>bams.servlet.deal.GetCaseDealServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteCaseDealServlet</servlet-name>
    <servlet-class>bams.servlet.deal.DeleteCaseDealServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListCaseDealByUserServlet</servlet-name>
    <servlet-class>bams.servlet.deal.ListCaseDealByUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListAllCaseDealServlet</servlet-name>
    <servlet-class>bams.servlet.deal.ListAllCaseDealServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckBaoServlet</servlet-name>
    <servlet-class>bams.servlet.deal.CheckBaoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetCaseServlet</servlet-name>
    <servlet-class>bams.servlet.picture.GetCaseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckCaseServlet</servlet-name>
    <servlet-class>bams.servlet.picture.CheckCaseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteAnswerServlet</servlet-name>
    <servlet-class>bams.servlet.wiki.DeleteAnswerServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UnmarkQuestionServlet</servlet-name>
    <servlet-class>bams.servlet.wiki.UnmarkQuestionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListOrderByUserServlet</servlet-name>
    <servlet-class>bams.servlet.goal.ListOrderByUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ManagerLoginServlet</servlet-name>
    <servlet-class>bams.util.ManagerLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteReplyCaseServlet</servlet-name>
    <servlet-class>bams.servlet.picture.DeleteReplyCaseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddReplyCaseServlet</servlet-name>
    <servlet-class>bams.servlet.picture.AddReplyCaseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetReplyCaseServlet</servlet-name>
    <servlet-class>bams.servlet.picture.GetReplyCaseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListCaseByUserServlet</servlet-name>
    <servlet-class>bams.servlet.picture.ListCaseByUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchCaseDealServlet</servlet-name>
    <servlet-class>bams.servlet.deal.SearchCaseDealServlet</servlet-class>
  </servlet>









































































    
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/servlet/Logout</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/servlet/Delete</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/servlet/Search</url-pattern>
    </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ListPictureByUserServlet</servlet-name>
    <url-pattern>/servlet/ListPictureByUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAllPropertyServlet</servlet-name>
    <url-pattern>/servlet/AddAllPropertyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddEmployerDutyServlet</servlet-name>
    <url-pattern>/servlet/AddEmployerDutyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFreightServlet</servlet-name>
    <url-pattern>/servlet/AddFreightServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddVehicleServlet</servlet-name>
    <url-pattern>/servlet/AddVehicleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFamilyServlet</servlet-name>
    <url-pattern>/servlet/AddFamilyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddOfficeServlet</servlet-name>
    <url-pattern>/servlet/AddOfficeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddEnterprisePackageServlet</servlet-name>
    <url-pattern>/servlet/AddEnterprisePackageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetUserServlet</servlet-name>
    <url-pattern>/servlet/GetUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListAllUserServlet</servlet-name>
    <url-pattern>/servlet/ListAllUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserGoalServlet</servlet-name>
    <url-pattern>/servlet/UpdateUserGoalServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteManyUserServlet</servlet-name>
    <url-pattern>/servlet/DeleteManyUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadPictureServlet</servlet-name>
    <url-pattern>/servlet/UploadPictureServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadFileServlet</servlet-name>
    <url-pattern>/servlet/UploadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileDownLoadServlet</servlet-name>
    <url-pattern>/servlet/FileDownLoadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListAllFileServlet</servlet-name>
    <url-pattern>/servlet/ListAllFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteFileServlet</servlet-name>
    <url-pattern>/servlet/DeleteFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPolicyIndexServlet</servlet-name>
    <url-pattern>/servlet/AddPolicyIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchPolicyServlet</servlet-name>
    <url-pattern>/servlet/SearchPolicyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownPolicyAsMSWord</servlet-name>
    <url-pattern>/servlet/DownPolicyAsMSWord</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownPoliciesAsZip</servlet-name>
    <url-pattern>/servlet/DownPoliciesAsZip</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListAllPolicyIndexServlet</servlet-name>
    <url-pattern>/servlet/ListAllPolicyIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListAllFeilvServlet</servlet-name>
    <url-pattern>/servlet/ListAllFeilvServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlterFeilvServlet</servlet-name>
    <url-pattern>/servlet/AlterFeilvServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AllPropertyFeilvServlet</servlet-name>
    <url-pattern>/servlet/AllPropertyFeilvServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FreightFeilvServlet</servlet-name>
    <url-pattern>/servlet/FreightFeilvServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmployerDutyFeilvServlet</servlet-name>
    <url-pattern>/servlet/EmployerDutyFeilvServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FamilyFeilvServlet</servlet-name>
    <url-pattern>/servlet/FamilyFeilvServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageLiPeiServlet</servlet-name>
    <url-pattern>/servlet/ManageLiPeiServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchLiPeiServlet</servlet-name>
    <url-pattern>/servlet/SearchLiPeiServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MarkLiPeiServlet</servlet-name>
    <url-pattern>/servlet/MarkLiPeiServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UnmarkLiPeiServlet</servlet-name>
    <url-pattern>/servlet/UnmarkLiPeiServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckUsernameServlet</servlet-name>
    <url-pattern>/CheckUsernameServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddGoodsServlet</servlet-name>
    <url-pattern>/servlet/AddGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListGoodsServlet</servlet-name>
    <url-pattern>/servlet/ListGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetGoodsServlet</servlet-name>
    <url-pattern>/servlet/GetGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteGoodsServlet</servlet-name>
    <url-pattern>/servlet/DeleteGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddOrderServlet</servlet-name>
    <url-pattern>/servlet/AddOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListOrderServlet</servlet-name>
    <url-pattern>/servlet/ListOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MarkOrderServlet</servlet-name>
    <url-pattern>/servlet/MarkOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UnmarkOrderServlet</servlet-name>
    <url-pattern>/servlet/UnmarkOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetOrderServlet</servlet-name>
    <url-pattern>/servlet/GetOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateGoodsServlet</servlet-name>
    <url-pattern>/servlet/UpdateGoodsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchFileServlet</servlet-name>
    <url-pattern>/servlet/SearchFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListPolicyIndexByUser</servlet-name>
    <url-pattern>/servlet/ListPolicyIndexByUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddQuestionServlet</servlet-name>
    <url-pattern>/servlet/AddQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetQuestionServlet</servlet-name>
    <url-pattern>/servlet/GetQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListQuestionByUserServlet</servlet-name>
    <url-pattern>/servlet/ListQuestionByUserServlet</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ListAllQuestionServlet</servlet-name>
    <url-pattern>/servlet/ListAllQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAnswerServlet</servlet-name>
    <url-pattern>/servlet/AddAnswerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetAnswerServlet</servlet-name>
    <url-pattern>/servlet/GetAnswerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MarkQuestionServlet</servlet-name>
    <url-pattern>/servlet/MarkQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddCaseDealServlet</servlet-name>
    <url-pattern>/servlet/AddCaseDealServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCaseDealServlet</servlet-name>
    <url-pattern>/servlet/GetCaseDealServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteCaseDealServlet</servlet-name>
    <url-pattern>/servlet/DeleteCaseDealServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListCaseDealByUserServlet</servlet-name>
    <url-pattern>/servlet/ListCaseDealByUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListAllCaseDealServlet</servlet-name>
    <url-pattern>/servlet/ListAllCaseDealServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckBaoServlet</servlet-name>
    <url-pattern>/servlet/CheckBaoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetCaseServlet</servlet-name>
    <url-pattern>/servlet/GetCaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckCaseServlet</servlet-name>
    <url-pattern>/servlet/CheckCaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteAnswerServlet</servlet-name>
    <url-pattern>/servlet/DeleteAnswerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UnmarkQuestionServlet</servlet-name>
    <url-pattern>/servlet/UnmarkQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListOrderByUserServlet</servlet-name>
    <url-pattern>/servlet/ListOrderByUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManagerLoginServlet</servlet-name>
    <url-pattern>/ManagerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteReplyCaseServlet</servlet-name>
    <url-pattern>/servlet/DeleteReplyCaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddReplyCaseServlet</servlet-name>
    <url-pattern>/servlet/AddReplyCaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetReplyCaseServlet</servlet-name>
    <url-pattern>/servlet/GetReplyCaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListCaseByUserServlet</servlet-name>
    <url-pattern>/servlet/ListCaseByUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchCaseDealServlet</servlet-name>
    <url-pattern>/servlet/SearchCaseDealServlet</url-pattern>
  </servlet-mapping>
  
  
	 <session-config>
	    <session-timeout>120</session-timeout>
	 </session-config>
	<welcome-file-list>
	    <welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

  	<resource-ref>
		  <description>DB Connection</description>
		  <res-ref-name>jdbc/book</res-ref-name>
		  <res-type>javax.sql.DataSource</res-type>
		  <res-auth>Container</res-auth>
	</resource-ref>
</web-app>