<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "dtd\web-app_2_3.dtd">
<web-app>	
	<display-name>BAMS</display-name>

	<!--
	<error-page> 
		<error-code>404</error-code> 
			<location>/common/error404.jsp</location>
	</error-page>
	<error-page> 
		<exception-type> 
			javax.servlet.ServletException 
		</exception-type>
		<location>/common/error.jsp</location>
	</error-page> -->
	
	 
	  
	 <filter>
		<filter-name>visitcontrol</filter-name>
		<filter-class>bams.util.AuthFilter</filter-class>
		
		</filter>
	<filter>
		<filter-name>Set Character Encoding</filter-name>
		<filter-class>bams.util.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF8</param-value>
		</init-param>
	</filter>
	  <filter-mapping>
		<filter-name>Set Character Encoding</filter-name>
		<url-pattern>/*</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
		<filter-name>visitcontrol</filter-name>
		<url-pattern>/servlet/*</url-pattern>
	  </filter-mapping>
	 
	 
	  
	  
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>bams.servlet.user.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>bams.servlet.user.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>bams.servlet.user.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>bams.servlet.user.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>bams.servlet.user.SearchServlet</servlet-class>
    </servlet>
  <servlet>
    <servlet-name>AddPictureServlet</servlet-name>
    
    <servlet-class>bams.servlet.picture.AddPictureServlet</servlet-class>
    <init-param>
            <param-name>filepath</param-name> 
            <param-value>file/user/upload_image</param-value>
        </init-param> 
        <init-param> 
            <param-name>temppath</param-name>
            <param-value>temp</param-value>
        </init-param> 
    
  </servlet>
  <servlet>
    <servlet-name>ListPictureByUserServlet</servlet-name>
    <servlet-class>bams.servlet.picture.ListPictureByUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddAllPropertyServlet</servlet-name>
    <servlet-class>bams.servlet.policy.AddAllPropertyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddEmployerDutyServlet</servlet-name>
    <servlet-class>bams.servlet.policy.AddEmployerDutyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddFreightServlet</servlet-name>
    <display-name>This is the display name of my J2EE component</display-name>
    <description>This is the description of my J2EE component</description>
    <servlet-class>bams.servlet.policy.AddFreightServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddVehicleServlet</servlet-name>
    <servlet-class>bams.servlet.policy.AddVehicleServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddFamilyServlet</servlet-name>
    <servlet-class>bams.servlet.policy.AddFamilyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddOfficeServlet</servlet-name>
    <servlet-class>bams.servlet.policy.AddOfficeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddEnterprisePackageServlet</servlet-name>
    <servlet-class>bams.servlet.policy.AddEnterprisePackageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetUserServlet</servlet-name>
    <servlet-class>bams.servlet.user.GetUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListAllUserServlet</servlet-name>
    <servlet-class>bams.servlet.user.ListAllUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateUserGoalServlet</servlet-name>
    <servlet-class>bams.servlet.user.UpdateUserGoalServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteManyUserServlet</servlet-name>
    <servlet-class>bams.servlet.user.DeleteManyUserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadPictureServlet</servlet-name>
    <servlet-class>bams.servlet.user.UploadPictureServlet</servlet-class>
    
    <init-param>
            <param-name>filepath</param-name> 
            <param-value>file/user/upload_image</param-value>
        </init-param> 
        <init-param> 
            <param-name>temppath</param-name> 
            <param-value>temp</param-value> 
        </init-param>
  </servlet>
  <servlet>
    <servlet-name>UploadFileServlet</servlet-name>
    <servlet-class>bams.servlet.user.UploadFileServlet</servlet-class>
    <init-param>
            <param-name>filepath</param-name> 
            <param-value>file/manager</param-value>
        </init-param> 
        <init-param> 
            <param-name>temppath</param-name> 
            <param-value>temp</param-value> 
        </init-param>
  </servlet>
  <servlet>
    <servlet-name>FileDownLoadServlet</servlet-name>
    <servlet-class>bams.servlet.user.FileDownLoadServlet</servlet-class>
        <init-param>
     <param-name>filepath</param-name> 
            <param-value>file/manager</param-value>
        </init-param> 
        <init-param> 
            <param-name>temppath</param-name> 
            <param-value>temp</param-value> 
        </init-param>
  </servlet>
  <servlet>
    <servlet-name>ListAllFileServlet</servlet-name>
    <servlet-class>bams.servlet.user.ListAllFileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteFileServlet</servlet-name>
    <servlet-class>bams.servlet.user.DeleteFileServlet</servlet-class>
    <init-param>
     <param-name>filepath</param-name> 
            <param-value>file/manager</param-value>
        </init-param> 
        <init-param> 
            <param-name>temppath</param-name> 
            <param-value>temp</param-value> 
        </init-param>
  </servlet>

















    
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/servlet/Logout</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/servlet/Delete</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/servlet/Search</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddPictureServlet</servlet-name>
    <url-pattern>/servlet/AddPictureServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListPictureByUserServlet</servlet-name>
    <url-pattern>/servlet/ListPictureByUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAllPropertyServlet</servlet-name>
    <url-pattern>/servlet/AddAllPropertyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddEmployerDutyServlet</servlet-name>
    <url-pattern>/servlet/AddEmployerDutyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFreightServlet</servlet-name>
    <url-pattern>/servlet/AddFreightServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddVehicleServlet</servlet-name>
    <url-pattern>/servlet/AddVehicleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFamilyServlet</servlet-name>
    <url-pattern>/servlet/AddFamilyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddOfficeServlet</servlet-name>
    <url-pattern>/servlet/AddOfficeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddEnterprisePackageServlet</servlet-name>
    <url-pattern>/servlet/AddEnterprisePackageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetUserServlet</servlet-name>
    <url-pattern>/servlet/GetUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListAllUserServlet</servlet-name>
    <url-pattern>/servlet/ListAllUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateUserGoalServlet</servlet-name>
    <url-pattern>/servlet/UpdateUserGoalServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteManyUserServlet</servlet-name>
    <url-pattern>/servlet/DeleteManyUserServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadPictureServlet</servlet-name>
    <url-pattern>/servlet/UploadPictureServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadFileServlet</servlet-name>
    <url-pattern>/servlet/UploadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileDownLoadServlet</servlet-name>
    <url-pattern>/servlet/FileDownLoadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListAllFileServlet</servlet-name>
    <url-pattern>/servlet/ListAllFileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteFileServlet</servlet-name>
    <url-pattern>/servlet/DeleteFileServlet</url-pattern>
  </servlet-mapping>
	 <session-config>
	    <session-timeout>120</session-timeout>
	 </session-config>
	<welcome-file-list>
	    <welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

  	<resource-ref>
		  <description>DB Connection</description>
		  <res-ref-name>jdbc/book</res-ref-name>
		  <res-type>javax.sql.DataSource</res-type>
		  <res-auth>Container</res-auth>
	</resource-ref>
</web-app>