@CHARSET "UTF-8";

	.section{
		display:inline-block;
		width:609px;
		height:450px;
		border:0px solid #000;
	}
	.content{
		float:left;
		width:94%;
		height:32%;
		border:0px solid #000;
	}
	.policy{
		float:right;width:30%;height:94%;border:0px solid #000;
		margin:1%;
		}
	.image{
		width:98%;
		height:80%;
		margin:1px;
		border:0px solid #000;
		}
	.showtext{
		width:98%;
		height:16%;
		margin:1%;
		border:0px solid #000;
		text-align:center;
		overflow: hidden
	}